

.input-container {
 
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
}

.input {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
  padding: $space-s $space-xs;
  border: none;
  border-radius: 10px;
  background-color: $white-color;
  html[data-theme="dark"] & {
    background-color: $text-secondary-light;
    
  }
  font-size: 16px;
  color: $text-primary;
}

.input:focus {
  outline: 1px solid $brand;
}

.input:disabled {
  background-color: $white-color;
  color: $text-secondary;
}

.input::placeholder {
  color: $text-secondary;
  html[data-theme="dark"] & {
    color:$text-secondary-dark ;
  }
}

.after-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .clearIcon {
    position: absolute;
    right: 95px;
  }
 
}
