.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  background-color: #b5460f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  transition: all 0.3s ease;
  z-index: 10;
  
  &:hover {
    transform: translateY(-5px);
  }

 

  svg {
    width: 30px;
    height: 30px;
    path {
      fill: white;
    }
   
  }

  @media (max-width: 768px) {
    bottom: 20px;
    right: 20px;
  }
} 