@import '../variables.css';

.button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--white-color);
  border: none;
  min-height: 52px;
  padding: var(--space-s) var(--space-l);
  gap: var(--space-xxs);
  background-color: var(--brand);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.button:hover {
  background-color: var(--brand-hover);
}

.button[data-disabled="true"] {
  background-color: var(--brand-disabled);
  cursor: not-allowed; /* Change cursor for disabled state */
}

.button:active {
  background-color: var(--brand-active);
}

.button--loading {
  background-color: var(--brand); /* Ensure the background remains the same during loading */
  color: var(--white-color);
  padding: var(--space-s) var(--space-l); /* Ensure padding remains consistent */
  gap: var(--space-xxs);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Prevent any interaction when loading */
}


