.recipe__necessity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $space-48;
  margin-bottom: $space-48;

  @media (max-width:$tablet) {
    display: block;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;
    margin-bottom: $space-xl;
  }

  .recipe__section {
    margin-bottom: $space-48;
    position: relative;
    html[data-theme="dark"] & {
      color: $text-secondary-light;
      /* background: $text-secondary-light;
      padding: $space-16; 
      border-radius: $space-xxs;*/
      
      h2 {
        color: $white-color;
      }
    }
    &:first-child::after {
      content: '';
      position: absolute;
      right: -24px;
      top: 0;
      bottom: -24px;
      width: 7px;
      height: 253px;
      background: url("@assets/line-before.png") no-repeat center center / contain;
      @media (max-width:$tablet){
        display: none;
      }
    }

    @media (max-width:$tablet) {
      margin-bottom: 23px;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 125%;
     

      li {
        flex-basis: 48.8%;
        position: relative;
        padding-left: 35px;
         @media (max-width:$mobileSmall){
         flex-basis: 100%;
      }
      }
    }

    &-ingredients {
      li:before {
        content: "";
        position: absolute;
        left: 0;
        transform: translateY(-50%, -50%);
        width: 25px;
        height: 17px;
        background: url("@assets/dish.svg") no-repeat center center / contain;
      }
    }

    &-equipment {
      li:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 25px;
        height: 25px;
        background: url("@assets/object.svg") no-repeat center center / contain;
      }
    }
  }
}

.recipe__section-steps {
  margin-bottom: $space-16;
  display: flex;
  flex-direction: column;
  gap: $space-16;
 
  h2 {
    html[data-theme="dark"] & {
      color: $white-color;
    }
    @media (max-width:$tablet) {
      margin-bottom: 0px;
    }
  }

  h3 {
    font-weight: 600;
    line-height: 125%;
    color: $text-primary;
    margin-bottom: $space-xxs;
    html[data-theme="dark"] & {
      color: $text-secondary-light;
    }
  }

  p {
    font-size: 16px;
    line-height: 125%;
    color: $text-primary;
    html[data-theme="dark"] & {
      color: $text-secondary-light;
    }
  }
}