@use 'sass:map';
@use '@styles/styles.scss' as *;

@mixin icon-color($color, $fill: true, $stroke: true) {
  $color-map: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'accent': $accent-color
  );

  path {
    @if map.has-key($color-map, $color) {
      $current-color: map.get($color-map, $color);
      
      color: $current-color;
      @if $fill {
        fill: $current-color;
      }
      @if $stroke {
        stroke: $current-color;
      }
    }
  }
}

