@use "sass:math";

$loader-bg: #b5460f;
$button-primary-bg: #b5460f;
$button-primary-text: #fff;
$button-primary-bg-hover: rgba(181, 70, 15, 0.7);
$button-primary-text-hover: #fff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #fff;
$button-primary-bg-active: #872d01;
$button-primary-text-active: #fff;
$text-primary: #000;
$text-secondary: #afadb5;
$text-secondary-light: #e3e1ebee;
$text-secondary-dark: #5a5959;
$text-accent: #b5460f;
$input-text: #000;
$input-bg: #fff;
$input-placeholder: #afadb5;
$input-border: #fff;
$input-bg-focus: #fff;
$input-border-focus: #b5460f;
$input-text-focus: #000;
$input-bg-disabled: #fff;
$input-border-disabled: #fff;
$input-text-disabled: rgba(0, 0, 0, 0.2);
$checkbox-bg: #fff;
$checkbox-border: #fff;
$checkbox-bg-hover: #fff;
$checkbox-border-hover: #b5460f;
$checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
$checkbox-border-disabled: rgba(255, 255, 255, 0);
$checkbox-check: #b5460f;
$checkbox-check-hover: #b5460f;
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);
$card-image-bg: #d9d9d9;
$card-bg: #fff;
$dropdown-options-bg: #fff;
$brand: #b5460f;
$brand-active: #872d01;
$brand-hover: rgba(181, 70, 15, 0.7);
$font-family: "Roboto", sans-serif;
$second-family: "Eudoxus Sans", sans-serif;

// Colors
$primary-color: #000000;
$primary-color-40: #00000040;
$secondary-color: #AFADB5;
$accent-color: #518581;
$white-color: #ffffff;
$brand-color: #518581;
$brand-hover-color: #86AAA7;
$brand-disabled-color: #D9D9D9;
$brand-active-color: #487773;

// Spacing
$space-s: 14px;
$space-16: 16px;
$space-26: 26px;
$space-36: 36px;
$space-48: 48px;
$space-l: 20px;
$space-xxs: 8px;
$space-xxs10: 10px;
$space-xl: 24px;
$space-xs: 12px;
$space-80: 80px;
$space-left: 414px;
$space-left322: 346px;
$space-left320: 320px;

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

