.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  width: 100%;
  overflow: hidden;

  svg {
    animation: spin 1s linear infinite;
  }
}

.gridLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  overflow: hidden;

  svg {
    animation: spin 1s linear infinite;
  }

  margin-bottom: $space-xl;
}

.recipes__content__error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  width: 100%;
  padding: $space-xxs;
}

.errorContainer, .noResults {
  background-color: rgba(255, 192, 118, 0.23);
  border: 1px solid $brand;
  border-radius: $space-xxs;
  padding: $space-16 $space-l;
  text-align: center;
  box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.1);

  h3 {
    color: $brand;
    margin-bottom: $space-xxs;
    font-size: $space-l;
  }

  p {
    color: $brand-active;
    font-size: $space-16;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.banner {

  background: url("@assets/bg.jpg") no-repeat center center / cover;
  min-height: calc(100vh - 65px);

  @media (max-width: 475px) {
    background-position: 53% 0px;
    min-height: 572px;
    height: 100%;
  }

  img {
    display: none;
  }

}

.recipes {
  background: rgba(255, 192, 118, 0.23);
  padding-top: $space-36;

  @media (max-width: $mobile) {
    padding-top: $space-16;
  }

  &__container {
    max-width: 1208px;
    padding: 0 $space-16;
    margin: 0 auto;
    overflow: hidden;
  }

  &__title {
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;
    text-align: center;

    span {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }

    margin-bottom: $space-48;

    @media (max-width:$mobile) {
      margin-bottom: $space-26;
      font-size: 16px;
    }
  }

  &__content {
    margin-bottom: $space-xl;

    .search {
      // background: $primary-color;
      margin-bottom: $space-48;
      /*  display: flex;
      justify-content: flex-end;
      gap: $space-l;
      flex-wrap: wrap;
*/
      display: flex;
      flex-wrap: wrap;
      justify-content: end;

      &__input {
        justify-content: space-between;
        gap: $space-xxs;
        margin-bottom: $space-l;

        input[type="text"] {
          max-width: 1095px;
          width: 100%;

        }

        button[type="button"] {
          width: 64px;
          height: 52px;
          border-radius: 10px;
          padding: 14px 20px;
          background: $brand;


        }
      }
      

    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
      gap: 24px;
      justify-items: center;
     

      @media (max-width: 1145px) {
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(348px, 360px));
        justify-content: center;
      }

      @media (max-width:$mobileSmall) {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: $space-s;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-bottom: $space-26;
  height: auto;
  .pageButton {
   // padding: 10px;
    background: none;
    cursor: pointer;
    min-width: 38px;
  

    &.active {
      padding: 10px;
      background: $loader-bg;
      color: $white-color;
     
    
    }

    &:hover {
      background: $primary-color-40;
      
    }

    &.disabled {
      svg path {
        stroke:$text-secondary;
      }
      
    }

    &:not(.disabled) {
      svg path {
        stroke: #151411;
      }
      
    }
  }

  @media (max-width: $mobileSmall) {
    gap: $space-xs;
    .pageButton {
      min-width: 30px;
    }
  }
  
}
