.header {
  position: sticky;
  top: 0;
  background: $button-primary-text;
  z-index: 100;
  transition: all 0.3s ease 0s;

  html[data-theme="dark"] & {
    background: $primary-color;
    transition: all 0.3s ease 0s;
  }

  &__container {
    max-width: 1208px;
    padding: 0 $space-16;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    @media (max-width: 931px) {
      padding-right: 100px;
    }

    @media (max-width:$mobileSmall) {
      padding-right: 60px;
    }

  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 710px;
    width: 100%;
    height: 100%;

    @media (max-width: 1020px) {
      justify-content: start;
      gap: $space-xl;
      width: auto;
    }

    @media (max-width: 931px) {

      max-width: max-content;
      z-index: 4;
    }
  }

  &__logo {
    font-family: $font-family;
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;
    flex: 0 0 auto;

    a {
      display: flex;
      align-items: center;
      gap: $space-xl;
      text-decoration: none;
      color: $primary-color;

      html[data-theme="dark"] & {
        color: $white-color;
      }

      @media (max-width: em(350)) {
        gap: $space-xs;
      }
    }

    &LinkPending {
      color: $text-secondary;
    }

    &LinkActive {
      color: $primary-color;
      font-weight: 700;

      html[data-theme="dark"] & {
        color: $white-color;
      }
    }
    &Transitioning {
      color: $text-secondary;
      font-weight: 400;
    }
  }

  &__menuItems {
    display: flex;
    gap: $space-xs;
    list-style: none;
    justify-content: space-between;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $text-primary;

    @media (max-width: 931px) {
      position: absolute;
      top: 65px;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      padding: 5px 20px 20px;
      flex-direction: column;
      transition: left 0.3s ease;
      z-index: 4;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      overflow-y: auto;
    }

    &_active {
      @media (max-width: 931px) {
        left: 0;
      }
    }

    a {
      text-decoration: none;
      color: $text-primary;

      html[data-theme="dark"] & {
        color: $white-color;
      }

      @media (max-width: 931px) {
        html[data-theme="dark"] & {
          color: $text-primary;
        }
      }

      &:hover {
        color: $brand-hover-color;
        transition: color 0.3s ease;
        text-decoration: underline;
      }
    }

    a.header__menuItemActive {
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      color: $brand;

      @media (max-width: 893px) {
        font-size: 20px;
      }
    }
  }

  &__utils {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;

    @media (max-width:$mobileSmall) {
      gap: 20px;
    }
  }

  &__theme {
    button {}
  }

  &__button {
    
    flex: 0 0 auto;

    svg {
      width: 30px;
      height: 38px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
      }
    }

    transition: all 0.3s ease 0s;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button_random {
    button {
      height: 35px;

      svg {
        width: 32px; // увеличим размер для лучшей видимости
        height: 35px;

        &:hover {
          animation-play-state: paused; // остановка анимации при наведении
        }
      }
    }
  }

  &__button_favorite {
    position: relative;
   
    
  }
  .header__favoriteCount {
    position: absolute;
    top: -2px;
    right: -8px;
    background: #eb5858;
    color: $white-color;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    padding: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    z-index: 2;
  }
  

  &__buttons{
    display: flex;
    gap: $space-16;
    align-items: center;
    justify-content: center;
    button {
      position: relative;
    }
  }

  .burger {
    display: none;
    position: absolute;
    width: 30px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    right: 30px;

    @media (max-width: 931px) {
      display: block;
      z-index: 5;
    }

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: all 0.3s ease;

      html[data-theme="dark"] & {
        background-color: $white-color;
      }

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &_active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          bottom: 50%;
          transform: rotate(-45deg);
        }
      }
    }

  }
}