.header {
  position: sticky;
  top: 0;
  background: $button-primary-text;
  z-index: 100;
  transition: all 0.3s ease 0s;
  html[data-theme="dark"] & {
    background: $primary-color;
    transition: all 0.3s ease 0s;
  }
  &__container {
    max-width: 1208px;
    padding: 0 $space-16;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    @media (max-width: 893px) {
      padding-right: 70px;
    }

  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 710px;
    width: 100%;
    height: 100%;
    @media (max-width: 893px) {
      
      max-width: max-content;
      z-index: 4;
    }
  }

  &__logo {
    font-family: $font-family;
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;
    flex: 0 0 auto;

    a {
      display: flex;
      align-items: center;
      gap: $space-xl;
      text-decoration: none;
      color: $primary-color;
      html[data-theme="dark"] & {
        color: $white-color;
      }
    }

    &LinkPending {
      color: $text-secondary;
    }

    &LinkActive {
      color: $primary-color;
      font-weight: 700;
      html[data-theme="dark"] & {
        color: $white-color;
      }
    }
  }

  &__menuItems {
    display: flex;
    gap: $space-xs;
    list-style: none;
    justify-content: space-between;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $text-primary;
   
    @media (max-width: 893px) {
      position: absolute;
      top: 65px;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      padding: 5px 20px 20px;
      flex-direction: column;
      transition: left 0.3s ease;
      z-index: 4;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      overflow-y: auto;
    }

    &_active {
      @media (max-width: 893px) {
        left: 0;
      }
    }

    a {
      text-decoration: none;
      color: $text-primary;
      html[data-theme="dark"] & {
        color: $white-color;
      }
      @media (max-width: 893px) {
        html[data-theme="dark"] & {
          color: $text-primary;
        }
      }
      &:hover {
        color: $brand-hover-color;
        transition: color 0.3s ease;
        text-decoration: underline;
      }
    }

    a.header__menuItemActive {
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      color: $brand;
      @media (max-width: 893px) {
        font-size: 20px;
      }
    }
  }
  &__buttons {
    display: flex;
    gap: $space-16;
    align-items: center;
    justify-content: center;
    img {
      transition: all 0.3s ease;
    }
    svg:hover {
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.8;
      transform: scale(1.5);
      /* имеющиеся механизмы ввода данных не обеспечивают функционал наведения указателя на элементы, или указывающих устройств не обнаружено */
      @media (any-hover: none) {
        &:hover {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  right: 30px;
  
  @media (max-width: 893px) {
    display: block;
    z-index: 5;
  }

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
    html[data-theme="dark"] & {
      background-color: $white-color;
    }
    &:nth-child(1) { top: 0; }
    &:nth-child(2) { top: 50%; transform: translateY(-50%); }
    &:nth-child(3) { bottom: 0; }
  }

  &_active {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        bottom: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}