
.header {
  position: sticky;
  top: 0;
  background: $button-primary-text;
  z-index: 100;
  &__container {
    max-width: 1240px;
    padding: 0 $space-16;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 710px;
    width: 100%;
    height: 100%;
  }

  &__logo {
    font-family: $font-family;
    font-size: 20px;
    line-height: 120%;
    color: $text-primary;

    a {
      display: flex;
      align-items: center;
      gap: $space-xl;
      text-decoration: none;
      color: $primary-color;
    }

    &LinkPending {
      color: $text-secondary;
    }

    &LinkActive {
      color: $primary-color;
      font-weight: 700;
    }
  }

  &__menuItems {
    display: flex;
    gap: $space-xs;
    list-style: none;
    justify-content: space-between;

    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $text-primary;

    a {
      text-decoration: none;
      color: $text-primary;

      &:hover {
        color: $brand-hover-color;
        transition: color 0.3s ease;
        text-decoration: underline;
      }

    }

    a.header__menuItemActive {
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
        color: $brand;
    }
  }
  &__buttons {
    display: flex;
    gap: $space-16;
    align-items: center;
    justify-content: center;
    img {
      transition: all 0.3s ease;
    }
    img:hover {
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.8;
      transform: scale(1.5);
      
     
    }
  }
}