.recipe {
 
  &__top {
    display: grid;
    grid-template-areas:
      "title title title"
      "image info info"
      "summary summary summary";
      padding-top: $space-48;
      @media (max-width:$tablet){
        padding-top: $space-26;
        display: block;
      }
  }

  &__title {
    grid-area: title;
    font-weight: 700;
    font-size: 44px;
    line-height: 109%;
    color: $text-primary;
    html[data-theme="dark"] & {
      color: $white-color;
    }
    margin-bottom: $space-36;
    padding-left: $space-36;
    position: relative;
    @media (max-width:$tablet){
      font-size: 27px;
      margin-bottom: $space-36;
    }
    @media (max-width:$mobileSmall){
       font-size: 21px; 
    }
    svg {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &:hover{
        transform: translateY(-50%) scale(1.1);
        transition: all 0.3s ease 0s;
        text-decoration: underline;
        background-color: $text-secondary-dark;
    }
    }
  }

  &__image {
    grid-area: image;
    border-radius: 10px;
    width: 448px;
    height: 298px;
    object-fit: cover;
    width: 100%;
    @media (max-width:$tablet){
      margin-bottom: $space-26;
      object-fit: contain;
      display: block;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width:$mobileSmall){
      width: 100%;
      object-fit: cover;
    }
  }

  &__info {
    grid-area: info;
    grid-column: 2/4;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
   // margin-left: 150px;
    align-items: center;
    /* @media (max-width:$tablet){
      column-gap: $space-xxs;
    } */

    &Item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 33.33%;
      gap: $space-xxs;
      html[data-theme="dark"] & {
        color: $white-color;
      }
      @media (max-width:$tablet){
       margin-bottom: $space-xxs10;
       &:not(:nth-child(-n+3)){
        margin-bottom: 0;
       }
      }
     
      @media (max-width: 400px){
          flex-basis: 50%;
      }
      span:last-child {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: $brand;
      }
    }
  }

  &__summary {
    grid-area: summary;
    margin-top: $space-48;
    padding: $space-36;
    background: rgba(181, 70, 15, 0.33);
    html[data-theme="dark"] & {
      background: $text-secondary-light;
      color: $text-primary;
    }
    border-radius: 10px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: $space-48;
    @media (max-width:$tablet){
       margin-top: $space-26;
       padding: $space-16; 
       margin-bottom: $space-26;
       
    }
    @media (max-width:$mobileSmall){
      font-size: 14px;
    }

    a {
      color: $text-primary;
      text-decoration: none;

      &:link {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
} 