@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --primary-color: #000000;
    --primary-color40:#00000040;
    --secondary-color:#AFADB5;
    --accent-color: #518581;
    --white-color: #ffffff;
    --brand: #518581;
    --brand-hover: #86AAA7;
    --brand-disabled: #D9D9D9;
    --brand-active: #487773;

    --space-s:14px;
    --space-16:16px;
    --space-26:26px;
    --space-l:20px;
    --space-xxs:8px;
    --space-xxs10:10px;
    --space-xl:24px;
    --space-xs:12px;
    --space-left:414px;
    --space-left322:346px;
    --space-left320:320px;


}