.addButton {
    margin-right: $space-xs;
    background-color: $brand;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $white-color;
    transition: all 0.2s ease;
    position: relative;
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease 0s;
    }
  transition: all 0.3s ease 0s;
    &.added {
      transform: rotate(45deg);
      background-color: #ff4444; // или любой другой цвет для активного состояния
      transition: all 0.3s ease 0s;
      &:hover{
        transform: rotate(45deg) scale(1.1);
      }
     
    }
  }