.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  width: 100%;
  overflow: hidden;

  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.recipe {
  background: rgba(255, 192, 118, 0.23);
  font-family: $font-family;

  &__container {
    max-width: 1208px;
    padding: 0 $space-16;
    margin: 0 auto;
    overflow: hidden;
  }
}
