.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  width: 100%;
  overflow: hidden;

  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.recipes__content__error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  width: 100%;
  padding: $space-xxs;
}

.errorContainer {
  background-color: rgba(255, 192, 118, 0.23);
  border: 1px solid $brand;
  border-radius: $space-xxs;
  padding: $space-16 $space-l;
  text-align: center;
  box-shadow: 3px 4px 10px 5px rgba(0, 0, 0, 0.1);

  h3 {
    color: $brand;
    margin-bottom: $space-xxs;
    font-size: $space-l;
  }

  p {
    color: $brand-active;
    font-size: $space-16;
  }
}

.recipe {
  background: rgba(255, 192, 118, 0.23);
  font-family: $font-family;

  &__container {
    max-width: 1208px;
    padding: 0 $space-16;
    margin: 0 auto;
    overflow: hidden;
  }
}
