.icon {
  &_primary {
    path {
      fill: var(--primary-color);
      stroke: var(--primary-color);
      
      &:first-child {
        fill: none;
        stroke: var(--primary-color);
      }
    }
  }

  &_secondary {
    path {
      fill: var(--secondary-color);
      stroke: var(--secondary-color);
      
      &:first-child {
        fill: none;
        stroke: var(--secondary-color);
      }
    }
  }

  &_accent {
    path {
      fill: var(--accent-color);
      stroke: var(--accent-color);
      
      &:first-child {
        fill: none;
        stroke: var(--accent-color);
      }
    }
  }
} 