.icon {
  &_primary path {
   fill: $primary-color;
   stroke: $primary-color;
  }

  &_secondary path {
   fill: $secondary-color;
   stroke: $secondary-color;
  }

  &_accent path {
   fill: $accent-color;
   stroke: $accent-color;
  }
} 